@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 4%;
    --foreground: 54 21% 91%;

    --card: 220 16% 4%;
    --card-foreground: 54 21% 91%;

    --popover: 220 16% 4%;
    --popover-foreground: 54 21% 91%;

    --primary: 197 100% 68%;
    --primary-foreground: 220 16% 4%;

    --secondary: 220 14% 12%;
    --secondary-foreground: 54 21% 91%;

    --muted: 220 14% 12%;
    --muted-foreground: 210 5% 56%;

    --accent: 220 14% 14%;
    --accent-foreground: 54 21% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 14% 20%;
    --input: 220 14% 20%;
    --ring: 197 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    background: #5dd0ff;
    color: #08090b;
  }
}
